.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.app__header {
  text-align: center;
  margin-bottom: 2rem;
}

.app__header h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  margin: 0;
}

.app__main {
  width: 100%;
}
